<div class="articles">
  <div class="article">
    <div class="title">
      <%= link_to @article.title, @article %>
    </div>
    <div class="date">
      <%= @article.created_at.strftime("%D %H:%M") %>
    </div>
    <div class="body">
      <% if @article.image_data.attached? %>
        <%= image_tag @article.image_data, class:"article-image" %>
      <% end %>
      <%= simple_format(@article.body) %>
    </div>
    <div class="likes-and-comments">
      <%= turbo_frame_tag "like_#{@article.id}" do %>
        <%= render "likes", article: @article %>
      <% end -%>
      <i class="fa-solid fa-comment commenct-icon"></i> <%= @article.comments.count %>
    </div>
    <% unless current_user %>
      <div>
        <a class="highlight" href="/sessions/login">Log in</a> of <a class="highlight" href="/users/new">registreer</a> om een artikel te liken.
      </div>
    <% end %>
  </div>

  <h2>Comments</h2>

  <div class="comment">
    <% if current_user %>
      Add a comment:
      <%= form_with model: [ @article, @article.comments.build ] do |form| %>
        <p>
          <%= form.text_area :body, :class => "form-control" %>
        </p>
        <p>
          <%= form.submit "Verzenden", :class => "btn btn-secondary" %>
        </p>
      <% end %>
    <% else %>
      <a class="highlight" href="/sessions/login">Log in</a> of <a class="highlight" href="/users/new">registreer</a> om een reactie na te laten.
    <% end %>
  </div>


  <% @article.comments.each do |comment| %>
    <div class="comment">
      <%= comment.body %>
    </div>
  <% end %>
</div>
