<div id="home">
  <div class="row">

    <!-- INFLUENCERS -->
    <div id="influencers" class="col-12 margin-bottom-lg">
      <table>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(id: user.id) do %>
                <div class="image"><%= image_tag user.avatar %></div>
              <% end -%>
            </td>
            <td class="width-100">
              <%= link_to user_path(id: user.id) do %>
                <div class="name"><%= user["first_name"] %> <%= user["last_name"] %></div>
              <% end -%>
            </td>
          </tr>
        <% end -%>
      </table>


      <%= will_paginate @users %>
    </div>
  </div>
</div>
