<div id="sign-up">
  <h2 class="text-center margin-bottom-md margin-top-sm">Persoonlijke gegevens</h2>

  <%= form_for @user, local: true, data: { turbo: false }, controller: 'users', action:'create' do |u| %>
    <table class="table borderless">
      <tbody>
        <tr>
          <td class="col-6"><%= u.label :first_name %></td>
          <td class="col-6"><%= u.text_field :first_name, required:true %></td>
        </tr>
        <tr>
          <td><%= u.label :last_name %></td>
          <td><%= u.text_field :last_name, required:true %></td>
        </tr>
        <tr>
          <td><%= u.label :email %></td>
          <td><%= u.text_field :email, required:true %></td>
        </tr>
        <tr>
          <td><%= u.label :password %></td>
          <td><%= u.password_field :password, required:true %></td>
        </tr>
        <tr>
          <td><%= u.label :password_confirmation %></td>
          <td><%= u.password_field :password_confirmation, required:true %></td>
        </tr>
        <tr>
          <td><%= u.label :avatar %></td>
          <td><%= u.file_field :avatar, id: :avatar, class: "form-control", required:true %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% if !u.object.image.present? %>
              <span class="fa fa-file place-holder-image"></span>
              <%= image_tag '', id: :avatar_preview %>
            <%else%>
              <%= image_tag u.object.image_url(:thumb), id: :avatar_preview %>
            <% end %>
          </td>
        </tr>
        <% %w[x y w h].each do |attribute| %>
          <%= u.hidden_field "avatar_crop_#{attribute}", id:"avatar_crop_#{attribute}" %>
        <% end %>
        <tr>
          <td class="col-6"></td>
          <td class="col-6"><%= u.submit "Registreer", class:"btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end -%>
</div>


<!-- Modal -->
<div id="upload-modal" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Crop Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <img id="image" width="100%" src="" alt="Logo">
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-primary" id="CropButton" value="Opslaan" data-bs-dismiss="modal"></button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

