<div class="quote">
  <em><%= t('home.home.saving_the_planet_title') %></em>
</div>

<section id="companies">
  <div class="row">
    <div class="col-2">
      <%= image_tag "enterpreneurs-icon.png", class: "group-icon" %>
    </div>
    <div class="col-10">
      <h3 class="title"><%= t('home.home.companies') %></h3>

      <div class="body">
        <%= t('home.home.companies_description_html') %>
      </div>

      <div class="link">
        <%= link_to t('home.home.companies_subscription'), new_user_path("company": true), data: { turbolinks: false } %>
      </div>
    </div>
  </div>
</section>

<section id="influencers">
  <div class="row">
    <div class="col-2">
      <%= image_tag "members-icon.png", class: "group-icon" %>
    </div>
    <div class="col-10">
      <h3 class="title"><%= t('home.home.members') %></h3>

      <div class="body">
        <%= t('home.home.members_description_html') %>
      </div>

      <div class="link">
        <%= link_to t('home.home.members_subscription'), new_user_path, data: { turbolinks: false } %>
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="row">
    <div class="col-2">
      <%= image_tag "projects-icon.png", class: "group-icon" %>
    </div>
    <div class="col-10">
      <h3 class="title"><%= t('home.home.projects') %></h3>
      <div class="body">
        <%= t('home.home.projects_description_html') %>
      </div>

      <div class="link">
        <%= link_to t('home.home.projects_subscription'), new_user_path("project": true), data: { turbolinks: false } %>
      </div>
    </div>
  </div>
</section>
