<div class="container">
  <div class="row">

    <!-- COMPANIES -->
    <div id="companies" class="col-lg-4 col-md-6 margin-bottom-lg">
      <h2 class="text-center margin-bottom-md">&euro;1.000 ingezameld</h2>

      <div class="company padding-md margin-bottom-sm">
        <h3 class="text-center">Ondernemers</h3>
      </div>

      <table>
        <tr>
          <td><div class="image"><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQFyvnowthnfJQ/company-logo_200_200/0/1607441534777?e=2159024400&v=beta&t=NsLl0AniRT7a3w5UXDf4OTDbkgxAC28LS3PQnNt3pJ4" /></div></td>
          <td class="width-100"><div class="name">Sam Van Eenoo<br /><em>Fintrax</em></div></td>
        </tr>
      </table>

      <a href="/companies">
        <div class="company padding-sm margin-bottom-sm margin-top-sm text-center">
          Alle Ondernemers
        </div>
      </a>

      <div class="text-center">
        <%= link_to "All41Planet ondernemer worden?", new_user_path("company": true) %>
      </div>
    </div>

    <!-- INFLUENCERS -->
    <div id="influencers" class="col-lg-4 col-md-6 margin-bottom-lg">
      <h2 class="text-center margin-bottom-md"><%= @users.count %> influencers</h2>

      <div class="influencer padding-md margin-bottom-sm">
        <h3 class="text-center">Influencers</h3>
      </div>

      <table>
        <% @users.each do |user| %>
          <tr>
            <td><div class="image"><img src="https://app.fintrax.io/img/sam.png" /></div></td>
            <td class="width-100">
              <div class="name"><%= user["first_name"] %> <%= user["last_name"] %></div>
            </td>
          </tr>
        <% end -%>
      </table>

      <a href="/influencers">
        <div class="influencer padding-sm margin-bottom-sm margin-top-sm text-center">
          Alle influencers
        </div>
      </a>

      <div class="text-center">
        <%= link_to "All41Planet influencer worden?", new_user_path %>
      </div>
    </div>

    <!-- PROJECTS -->

    <div id="projects" class="d-lg-none col-md-3"></div>

    <div id="projects" class="col-lg-4 col-md-6 margin-bottom-lg">
      <h2 class="text-center margin-bottom-md">1 project gesteund</h2>

      <div class="project padding-md margin-bottom-sm">
        <h3 class="text-center">Projecten</h3>
      </div>

      <table>
        <tr>
          <td><div class="image"><img src="https://www.natuurpunt.be/sites/all/themes/ntpweb_theme/logo.png" /></div></td>
          <td class="width-100"><div class="name">Klimaatbossen natuurpunt</div></td>
        </tr>
      </table>

      <a href="/projects">
        <div class="project padding-sm margin-bottom-sm margin-top-sm text-center">
          Alle Projecten
        </div>
      </a>

      <div class="text-center">
        <%= link_to "All41Planet projectaanvraag indienen?", new_user_path("project": true) %>
      </div>
    </div>


  </div>
</div>
