<div id="home">
<div class="row">

  <!-- COMPANIES -->
  <div id="companies" class="col-lg-4 col-md-6 margin-bottom-lg">
    <h2 class="text-center margin-bottom-md">&euro;1.000 ingezameld</h2>

    <div class="company padding-md margin-bottom-sm">
      <h3 class="text-center">Ondernemers</h3>
    </div>

    <table>
      <% @company_users.each do |company_user| %>
      <tr>
        <td>
          <div class="image">
            <% if !company_user.company.avatar.image_data.nil? %>
              <%= image_tag company_user.company.avatar %>
            <% else %>
              <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQFyvnowthnfJQ/company-logo_200_200/0/1607441534777?e=2159024400&v=beta&t=NsLl0AniRT7a3w5UXDf4OTDbkgxAC28LS3PQnNt3pJ4" />
            <% end %>
          </div>
        </td>
        <td class="width-100"><div class="name"><%= company_user.user["first_name"] %> <%= company_user.user["last_name"] %><br /><em><%= company_user.company["name"] %></em></div></td>
      </tr>
      <% end -%>
    </table>

    <a href="/enterpreneurs">
      <div class="company padding-sm margin-bottom-sm text-center">
        Alle ondernemers
      </div>
    </a>

    <div class="text-center">
      <%= link_to "All41Planet ondernemer worden?", new_user_path("company": true), :"data-no-turbolink" => true %>
    </div>
  </div>

  <!-- INFLUENCERS -->
  <div id="influencers" class="col-lg-4 col-md-6 margin-bottom-lg">
    <h2 class="text-center margin-bottom-md"><%= @users.count %> leden</h2>

    <div class="influencer padding-md margin-bottom-sm">
      <h3 class="text-center">Leden</h3>
    </div>

    <table>
      <% @last_5_users.each do |user| %>
        <tr>
          <td><div class="image"><%= image_tag user.avatar %></div></td>
          <td class="width-100">
            <div class="name"><%= user["first_name"] %> <%= user["last_name"] %></div>
          </td>
        </tr>
      <% end -%>
    </table>

    <a href="/influencers">
      <div class="influencer padding-sm margin-bottom-sm text-center">
        Alle influencers
      </div>
    </a>

    <div class="text-center">
      <%= link_to "All41Planet lid worden?", new_user_path, data: { turbolinks: false } %>
    </div>
  </div>

  <!-- PROJECTS -->

  <div id="projects" class="d-lg-none col-md-3"></div>

  <div id="projects" class="col-lg-4 col-md-6 margin-bottom-lg">
    <h2 class="text-center margin-bottom-md"><%= @projects.count %> projecten</h2>

    <div class="project padding-md margin-bottom-sm">
      <h3 class="text-center">Projecten</h3>
    </div>

    <table>
      <% @last_5_projects.each do |project| %>
      <tr>
        <td>
          <div class="image">

            <% if !project.avatar.image_data.nil? %>
              <%= image_tag project.avatar %>
            <% else %>
              <img src="https://www.natuurpunt.be/sites/all/themes/ntpweb_theme/logo.png" />
            <% end %>
          </div>
        </td>
        <td class="width-100"><div class="name"><%= project["name"] %></div></td>
      </tr>
      <% end -%>
    </table>

    <a href="/projects">
      <div class="project padding-sm margin-bottom-sm text-center">
        Alle projecten
      </div>
    </a>

    <div class="text-center">
      <%= link_to "All41Planet projectaanvraag indienen?", new_user_path("project": true), data: { turbolinks: false } %>
    </div>
  </div>


</div>
</div>
