<div id="home">
<div class="row">

  <div id="companies" class="col-12 margin-bottom-lg">
    <table>
      <% @companies.each do |company| %>
        <tr>
          <td>
            <%= link_to company_path(company.id) do %>
              <div class="image"><%= image_tag company.avatar %></div>
            <% end -%>
          </td>
          <td class="width-100">
            <%= link_to company_path(company.id) do %>
              <div class="name"><%= company["name"] %></div>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </table>


    <%= will_paginate @enterpreneurs %>
  </div>

</div>
</div>
