<!DOCTYPE html>
<html>
  <head>
    <title>All41planet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="min-height-100">

    <div class="container margin-bottom-lg margin-top-md">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
          <%= link_to image_tag("all41planet_logo.png", id:"logo"), "/" %>
        </div>
        <div class="col-4 text-right">
          <% if current_user %>
            <button class="btn btn-secondary text-right" disabled><%= current_user["first_name"] %> <%= current_user["last_name"] %></button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 margin-bottom-lg">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
